# Binaries
/dist
/build
/bin
/git-scope

# Logs and temp files
*.log
*.tmp
*.swp
*~

# Cache
.git-scope-cache.json

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

/materials
demo.gif
demo.tape
git-scope
git-scope-test
git-scope-final
docs/images/fallback_pic
docs/images/mobile
docs/images/desktop 